NAFO_Divisions_SHP
NAFO_sub
ziff_meta
npbc_samples2024.csv
npbc_samples2022.csv
npbc_samples.csv
2024 Bait Fishery Breakdown.xlsx
Mackerel_CAN reported catches 2017-2024.docx
GLF2024_093_Mackerel Logbooks_2024.xlsx
